[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
streamlink = "*"
opencv-contrib-python = "*"
gevent = "*"
numpy = "*"
flask = "*"
m3u8 = "*"

[requires]
python_version = "3.7"
